@model IEnumerable<ReservationManagementApp.Models.Dto.ReservationDto>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Employee @Html.DisplayNameFor(model => model.IdEmployeeNavigation.Name)
                </th>
                <th>
                    Service  @Html.DisplayNameFor(model => model.IdServiceNavigation.Name)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdServiceNavigation.Name)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

